body{
    background-image: url('/bkgrd_01.jpg')
    /*background-color: pink;*/
}

.main_cards_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
    margin-top: 30px;
    /*border:1px red solid;*/

}

form{
    /*border:1px yellow solid;*/
    width: 500px;
    /*height: 100%;*/
    padding:20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Bevan', cursive;
    z-index: 1;

}

p{
    margin-bottom: 0;
    font-size: 1.5em;
}
input{
    background-color: #2e2e2e;
    border:1px #00dcff solid;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    padding: 0 10px;
}

img{
    width:800px;
    min-height: 300px;
    /*box-shadow: 2px 2px 20px white;*/
    /*background-color: white;*/
    /*border:1px solid red;*/
    object-fit: contain;
    align-self: flex-start;
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform-origin: center center;

}
@keyframes move {
    to {
        transform: rotate(-2deg) translateY(20px);
    }
}


button{
    width:100px;
    height:30px;
    background-color: orange;
    border:1px solid pink;
    color: white;
    font-family: 'Bevan', cursive;

}