html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-image: url('/bkgrd_01.jpg');
    box-sizing: border-box;
    scroll-snap-type: y proximity;
    scroll-margin:300px 0;
    /*scroll-padding:100px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: auto;*/

}

#scroll{
    width:100%;
    height: 8vh;
    font-family: 'Abel', sans-serif;
    color:white;
    font-size: 1.2em;
    /*border:1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}


#header_img{
    width:100%;
    object-fit: cover;
}

.main_content_wrapper{
    padding:10px 0 0 0;
    /*border:1px red solid;*/
    width:100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


#logo{
    width:100%;
    height:30px;
   display: flex;
   /*border:1px red solid;*/
   position: relative;
   margin: 0;
}

#logo img{
    width: 250px;
    position: absolute;
    left:0;
}


#threeDcamera_wrapper{
    width:100%;
    height: 80vh;
    background-color:black;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

iframe{
    width:100%;

}

h1{
    /*display: inline-block;*/
    font-size: 5em;
    font-family: 'Anton', cursive;
    line-height: .9;
    margin:0;
    color: #f73838;
    /*border:1px solid blue;*/
}

.tabs{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    padding:30px;
    font-family: 'Abel', sans-serif;
    margin:10px 0;
    scroll-snap-align: start;
    color: white;
}

.description{
    display: flex;
    flex-direction: column;
    width:30vw;
    /*height:500px;*/
}

.tabs p{
    width:100%;
    /*min-height:300px;*/
    margin:0;
    /*border:1px solid red;*/
    font-size: 2vw;
    background-color: rgba(0,0,0,.8);
    padding:10px;
    border-radius: 10px;
}

/*---SHUTTER STARTS------------------------------------------*/

#shutter{
    /*background-color: orange;*/
    background-image: url('/bkgrd_05.jpg');
    background-size: cover;
    position: relative;
}
#shutter .description{
    position: absolute;
    z-index:1;
}
#shutterimage_one{
    width:40%;
    position: absolute;
    top:50px;
    right:420px;
    z-index: 1
}
#shutterimage_two{
    width:40%;
    position: absolute;
    bottom:50px;
    right:50px;
    /*bottom:30px;*/
    /*border:1px red solid;*/

}

/*---SHUTTER ENDS------------------------------------------*/
/*---APERTURE STARTS------------------------------------------*/

#aperture{
    background-image: url('/bkgrd_06.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: flex-end;
    position: relative;
}

#aperture .description{
    align-self: flex-end;
    /*border:1px red solid;*/
}

#apertureimage_one{
    width:40%;
    position: absolute;
    top:50px;
    left:420px;

}
#apertureimage_two{
    width:40%;
    position: absolute;
    bottom:50px;
    left:50px;
    /*bottom:30px;*/
    /*border:1px red solid;*/

}

/*---APERTURE ENDS------------------------------------------*/
/*---ISO STARTS------------------------------------------*/
#iso{
    /*background-color: green;*/
    background-image: url('/bkgrd_03.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#iso .description{
    z-index:1;
}
#isoimage_one{
    width:40%;
    position: absolute;
    top:50px;
    right:420px;

}
#isoimage_two{
    width:40%;
    position: absolute;
    bottom:50px;
    right:50px;
    /*bottom:30px;*/
    /*border:1px red solid;*/

}

/*---ISO STARTS------------------------------------------*/
/*---STARTS------------------------------------------*/
#view_photos{
    background-image: url('/bkgrd_04.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text_wrapper{
    /*cursor: pointer;*/
    position: absolute;
    top:250px;
    left:200px;
}

#view_photos h1{
    width:600px;
    line-height: 1;
    text-shadow: 2px 2px 5px black;
}


.text-two{
    padding-left: 20px;
}

.text-three{
    display: flex;
    flex-direction: row;
    width:450px;
    /*border:1px red solid;*/
    padding-left: 50px;
}

.text-three #arrow:hover{
    color:#ff8080;
    transform: translateX(15px);
    transition-duration: .5s;
    transition-timing-function: linear;
}

/*---END------------------------------------------*/


#footer{
    width:90%;
    position: absolute;
    /*border:1px solid red;*/
    align-self: center;
    bottom:0px;

}






/*  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

  //CSS

}

/*  ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*  ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        font-size: 6em
    }
    .description{
        width:36vw;
    }
    .tabs p {
        font-size: 2vw;
    }
    #shutterimage_one {
        width:55%;
        top: 393px;
        right: 21px;
    }
    #shutterimage_two {
        width: 55%;
        right: 266px;
    }
    #aperture .description {
        position: absolute;
        right: 451px;
        bottom: 150px;
    }
    #apertureimage_one {
        width: 55%;
        left: 280px;
    }
    #apertureimage_two {
        width: 55%;
        bottom: 120px;
        left: 336px;
    }
    #isoimage_one {
        width: 55%;
        top: 50px;
        right: 71px;
    }
    #isoimage_two {
        width: 55%;
    }
    #view_photos h1 {
        width: 100%;
    }
    #text_wrapper {
        left: 48px;
    }
    .text-three {
        width: 539px;
    }

}

/*  ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #logo {
        height: 0;
    }
    #logo img {
        width: 212px;
    }
    #threeDcamera_wrapper {
        height: 70vh;
    }
    #scroll {
        height: 17vh;
    }
    .tabs p {
        font-size: 1.8vw;
    }
    #shutterimage_one {
        width: 35%;
        top: 32px;
        right: 174px;
    }
    #shutterimage_two {
        width: 35%;
        bottom: 18px;
        right: 22px;
    }
    #apertureimage_one {
        width: 35%;
        top: 12px;
        left: 40px;
    }
    #apertureimage_two {
        width: 35%;
        bottom: 25px;
        left: 125px;
    }
    #aperture .description {
        position: absolute;
        right: 89px;
        bottom:100px;
    }
    #isoimage_one {
        width:35%;
        top: 22px;
        right: 252px;
    }
    #isoimage_two {
        width:35%;
        bottom: 21px;
        right: 26px;
    }
    #text_wrapper {
        top: 33px;
        left: 71px;
    }
}

/*  ##Device = Low Resolution Tablets, Mobiles (Landscape)  ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    #nav_wrapper {
        font-size: 19.8px;
    }
    .main_content_wrapper {
        padding:0;
    }
    #logo {
        width: 100%;
        height: 10px;
    }
    #logo img {
        width: 206px;
    }
    #threeDcamera_wrapper {
        height: 70vh
    }
    #scroll {
        height: 15vh;
    }
    #shutterimage_one {
        top: 17px;
        right: 85px;
    }
    #apertureimage_one {
        top: 16px;
        left: 33px;
    }
    #apertureimage_two {
        bottom: 20px;
    }
    #aperture .description{
        position: absolute;
        right: 124px;
    }
    #isoimage_one {
        top: 12px;
        right: 118px;
    }
    #isoimage_two {
        bottom: 24px;
    }
    #text_wrapper {
        top: 23px;
        left: 47px;
    }
    #view_photos h1 {
        width: 500px;
    }
}

/*  ##Device = Most of the Smartphones Mobiles (Portrait)  ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {

    #nav_wrapper{
        font-size: .8em;
    }
    box-icon{
        width:50%;
    }
    .main_content_wrapper{
        width: 100%;
    }
    .description{
        width:64vw;
    }
    .tabs p{
        font-size: 4vw
    }
    #shutterimage_one{
        right:9px;
        top:340px;
        width:75%;
    }
    #shutterimage_two{
        bottom:20px;
        right:70px;
        width:75%;
    }
    #aperture .description{
        left:9px;
        bottom:168px;
        position:absolute;
        z-index: 1
    }
    #apertureimage_one{
        left:15px;
        top:18px;
        width:75%;
    }
    #apertureimage_two{
        bottom:33px;
        width:75%;
    }
    #isoimage_one{
        width:75%;
        right:17px;
        top:30px;
    }
    #isoimage_two{
        width:75%;
        bottom:17px;
    }

    #text_wrapper{
        left:20px;
        width:80vw;
        /*border: 3px solid red*/
    }

  .description h1{
    font-size: 4.1em;
  }

  #view_photos h1{
    font-size: 3.1em;
    width: 100%;
  }
  .text-three{
    width:250px;
  }

  #footer{
    width:100%;
  }

}